.footer{
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 100px;
  // border: 1px solid red;
}
.footer-logo{
  height: 20px;
  margin-right: 50px;
  @media screen and (max-width: 600px) {
    margin: 0;    
  }
}
.footer-top{
  gap: 50px;
  padding: 0px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    text-align: center;    
  }
}
.footer-bottom{
  .footer-copyright{
    justify-content: flex-start;
    @media screen and (max-width: 600px) {
      justify-content: center;
      text-align: center;
    }
  }
  .footer-socials{
    justify-content: flex-end;
    gap: 20px;
    &:hover{
      cursor: pointer;
    }
    @media screen and (max-width: 600px) {
      justify-content: center;
    }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
.footer-links-header{
  padding: 0px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-link{
  color: lightgray;
}
.footer-payments-title{
  text-align: center;
  font-weight: bold;
}
.footer-payment-method-image{
  height: 50px;
}
.footer-payment-method-container{
  background-color: var(--primary);
  border-radius: 5px;
  padding: 10px 15px;
  border-color: transparent;
}
