.ad-section {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    padding: 20px;

    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0069d9;
      }
    }
  }
}
